{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mt-10 mb-5 flex-wrap d-flex" id="memes-container">
       
</section>
<div class="center">
    <input id="more-button" type="button" class="button bg-dark-blue b-ablue" value="More" style="text-align: center;">
</div>
<br>
<br>
{% endblock %}

{% block script %} 
<script src="{% static 'memes/js/memegenerator.js' %}"></script>
{% endblock %}