html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
nav a {
    font-size: 1.1rem;
}
.button {
    font-size: 1.2rem;
    font-weight: 800;
    border: none;
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    margin: 12px;
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}
.card {
    min-width: 30rem;
    max-width: 30rem;
    border: none;
    display: flex;
    padding: 0 0 1rem 0;
    /* cursor: pointer; */
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}
.w-35-rem {
    max-width: 500px; 
}
.w-80-auto {
    width: 80%; 
    margin: auto;
}
.mt-5 {
    margin-top: 5rem;
}
.bg-dark-blue {
    background-color: #112233;
}
.mt-10 {
    margin-top: 10rem;
}
.fw-700 {
    font-weight: 700;
}
.fw-400 {
    font-weight: 400;
}
.mt--1 {
    margin-top: -1rem;
}
.center-cropped {
    object-fit: cover;
    object-position: center;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
}
.b-ablue {
    color: aliceblue;
}

.max-width {
    max-width: 30rem;
}
.mr-10 {
    margin-right: 10rem;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 640px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 10px;
    }
}